<!-- This script qua html renders individual corporations' 
earnings data on the D3 svg. It also adds the y-axis on the right 
side of the graph. I included this script as an html tag because 
I wanted to have the program access the script directly when made 
visible to the template via the Django variable rather than 
through a variable that points to a script tag that points to a 
file. -->

<script>
    d3.tsv('../static/data/{{corporation}}.tsv', function(error, data) {
        data.forEach(function(d) {
            d.date = parseTime(d.date);
            d.close = +d.close;
            company = d.company;
        });

    x.domain(d3.extent(data, function(d) { return d.date; }));
    y.domain([0, d3.max(data, function(d) { return d.close; })]);

    svg.append('path')
        .data([data])
        .attr('class', 'line')
        .attr('d', valueline);

    svg.append('g')
        .attr('class', 'axisBlue')
        .call(d3.axisRight(y))
        .attr("class", "axisRight")
        .attr("transform", "translate(" + width + ",0)");

    svg.selectAll("dot")
        .data(data)
        .enter().append("circle")
        .attr("r", 5)
        .attr("cx", function(d) { return x(d.date); })
        .attr("cy", function(d) { return y(d.close); })
        .attr('opacity', 0)
        .on("mouseover", function(d) {
            div.transition()
            .duration(100)
            .style("opacity", .9);

      formatTime =  d3.timeFormat("%e %B %y");

      div.html("<span style='color: blue'>" + d.company + "<br/>" + formatTime(d.date) + "<br/>" + '$' + d.close + "</span>")
          .style("left", (d3.event.pageX) + "px")
          .style("top", (d3.event.pageY - 30) + "px")
          .style("width", "110px")
          .style("height", "50px")
          .style("background-color", "white");
        })
      .on("mouseout", function(d) {
            div.transition()
            .duration(200)
            .style("opacity", 0)
      });

    if ("{{corporation}}" == "KRX005930") {
      svg.append("text")
        .attr("transform", "rotate(90)")
        .attr("y", 0 - width - margin.right)
        .attr("x", 0 + (height / 2))
        .attr("dy", "1em")
        .attr("fill", "blue")
        .style("text-anchor", "middle")
        .style("font-size", ".8em")
        .text("Value in South Korean Won");
    } else {
      svg.append("text")
            .attr("transform", "rotate(90)")
            .attr("y", 0 - width - margin.right + 10)
            .attr("x", 0 + (height / 2))
            .attr("dy", "1em")
            .attr("fill", "blue")
            .style("text-anchor", "middle")
            .style("font-size", ".8em")
            .text("Value in U.S. Dollars");
    }

    svg.append("text")
        .data(data)
        .attr("transform",
            "translate(" + (width - 197) + " ," + 
            (height + margin.top - 57) + ")")
        .style("font-size", ".8em")
        .html("Corporation: " + company);

    svg.append("rect")
        .attr("transform",
            "translate(" + (width - 217) + " ," + 
            (height + margin.top - 70) + ")")
        .attr("width", 15)
        .attr("height", 15)
        .attr("fill", "blue")
    });
</script>
