{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Prometheus</title>
    <link rel="stylesheet" type="text/css" href="../static/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/main.css">
</head>
<body>
<div class="container">
    <div class="row valign-wrapper" style="margin-bottom: 5px">
        <a href="/" style="color: black"><h1 class="col s8" style="margin-bottom: 0; margin-top: 20px">Prometheus</h1></a>
        <btn black
        <a class='dropdown-button btn black' data-hover="true" data-belowOrigin="true" data-activates='dropdown' class="col s4">Select a Corporation</a>
        <ul id='dropdown' class='dropdown-content'>
            <li id="li"><a href="/AAPL" style="color:black">Apple</a></li>
            <li class="divider"></li>
            <li><a href="/ADBE" style="color:black">Adobe</a></li>
            <li class="divider"></li>
            <li><a href="/AMZN" style="color:black">Amazon</a></li>
            <li class="divider"></li>
            <li><a href="/HPQ" style="color:black">HP</a></li>
            <li class="divider"></li>
            <li><a href="/IBM" style="color:black">IBM</a></li>
            <li class="divider"></li>
            <li><a href="/MSFT" style="color:black">Microsoft</a></li>
            <li class="divider"></li>
            <li><a href="/ORCL" style="color:black">Oracle</a></li>
            <li class="divider"></li>
            <li><a href="/KRX005930" style="color:black">Samsung</a></li>
        </ul>
    </div>
    <div class="divider"></div>
    <div class="section">
        <div id="valueChart" class="center"></div>
    </div>
    <div class="divider"></div>
    {% if not search_view %}
        <h4 class="center">Conference Call Transcripts</h4>
        <div id="transcriptDataDiv">
            <div class="section" id="transcriptSelectionForm">
                <form method="get" action='{% url "search" %}' class="row valign-wrapper">
                    <div class="section input-field col s6">
                        <select name="transcript">
                            {% if corporation %}
                                <option value="" disabled selected>Choose your option</option>
                            {% else %}
                                <option value="" disabled selected>Please choose a corporation above</option>
                            {% endif %}
                                {% for date in dates%}
                                    <option>{{corporation}}-{{date}}</option>
                                {% endfor %}
                            }
                        </select>
                        <label>Conference Call Transcripts</label>
                    </div>
                    <div class='col s6'>
                        <input class="btn black" type="submit" style="margin-left: 20px"/>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
    {% if search_view%}
        <h4 class="center" style="margin-top:20px">Natural Language Data</h4>
        <table class="striped">
            <thead class="grey darken-2" style="color: white; font-size: 1.2em">
                <tr>
                    <th style="border-radius: 0 ">{{date}}</th>
                    <th style="border-radius: 0">CEO</th>
                    <th style="border-radius: 0">CFO</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Total Word Count per Transcript</td>
                    <td>{{cEo_sum}}</td>
                    <td>{{cFo_sum}}</td>
                </tr>
                <tr>
                    <td>Median Word Count per Response in Transcript</td>
                    <td>{{cEo_median}}</td>
                    <td>{{cFo_median}}</td>

                </tr>
                <tr>
                    <td>Proportion of Positive Words</td>
                    <td>{{cEo_positive}}</td>
                    <td>{{cFo_positive}}</td>
                </tr>
                <tr>
                    <td>Proportion of Negative Words</td>
                    <td>{{cEo_negative}}</td>
                    <td>{{cFo_negative}}</td>
                </tr>
                <tr>
                    <td>Proportion of Responses with a Reference to General Knowledge</td>
                    <td>{{cEo_knowledge}}</td>
                    <td>{{cFo_knowledge}}</td>
                </tr>
                <tr>
                    <td>Proportion of Responses with a Reference to Value for Shareholders</td>
                    <td>{{cEo_shareholders_value}}</td>
                    <td>{{cFo_shareholders_value}}</td>
                </tr>
                <tr>
                    <td>Proportion of Responses with a Reference to Value Creation</td>
                    <td>{{cEo_value_creation}}</td>
                    <td>{{cFo_value_creation}}</td>
                </tr>
            </tbody>
        </table>
    {% endif %}
</div>
<script src="https://d3js.org/d3.v4.min.js"></script>
{% if corporation %}
    {% include 'corporations.html' %}
{% endif %}
<script type="text/javascript" src="../static/djia.js"></script>
<script type="text/javascript" src="../static/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../static/materialize.min.js"></script>
<script type="text/javascript" src="../static/index.js"></script>
<script>
    $(document).ready(function(){
        $(".button-collapse").sideNav();
        $('.parallax').parallax();
        $(".dropdown-button").dropdown({
                hover: false
        });
    });
    $(document).ready(function() {
        $('select').material_select();
    });
</script>
</body>
</html>