{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Prometheus</title>
    <link rel="stylesheet" type="text/css" href="../static/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/main.css">
</head>
<body>
<div class="container">
    <div class="row valign-wrapper" style="margin-bottom: 5px">
        <h1 class="col s8" style="margin-bottom: 0; margin-top: 10px">Prometheus</h1>
        <btn black
        <a class='dropdown-button btn black' data-hover="true" data-belowOrigin="true" href='#' data-activates='dropdown' class="col s4">Select a Corporation</a>
        <ul id='dropdown' class='dropdown-content'>
            <li id="li"><a href="/AAPL" style="color:black">Apple</a></li>
            <li class="divider"></li>
            <li><a href="#!" style="color:black">Adobe</a></li>
            <li class="divider"></li>
            <li><a href="/AMZN" style="color:black">Amazon</a></li>
            <li class="divider"></li>
            <li><a href="#!" style="color:black">HP</a></li>
            <li class="divider"></li>
            <li><a href="#!" style="color:black">IBM</a></li>
            <li class="divider"></li>
            <li><a href="#!" style="color:black">Microsoft</a></li>
            <li class="divider"></li>
            <li><a href="#!" style="color:black">Oracle</a></li>
            <li class="divider"></li>
            <li><a href="#!" style="color:black">Samsung</a></li>
        </ul>
    </div>
    <div class="divider"></div>
    <div class="section">
        <div id="valueChart" class="center"></div>
    </div>
    <div class="divider"></div>
    {% if not search_view %}
        <h5 class="center">Conference Call Transcripts</h5>
        <div id="transcriptDataDiv">
            <div class="section col s6" id="transcriptSelectionForm">
                <form method="get" action='{% url "search" %}' class="row valign-wrapper">
                    <div class="input-field col s6">
                        <select name="transcript">
                            {% if corporation %}
                                <option value="" disabled selected>Choose your option</option>
                            {% else %}
                                <option value="" disabled selected>Please choose a corporation above</option>
                            {% endif %}
                                {% for date in dates%}
                                    <option>{{corporation}}-{{date}}</option>
                                {% endfor %}
                            }
                        </select>
                        <label>Conference Call Transcripts</label>
                    </div>
                    <div class="col s6 center-align">
                        <input class="btn black" type="submit"></input>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
    {% if search_view%}
        <h5 class="center">Natural Language Data</h5>
        <div class="section">
            <table class="centered">
                <thead>
                    <tr>
                        <th>Transcript Date</th>
                        <th>Position</th>
                        <th>Word Count</th>
                        <th>Positive</th>
                        <th>Negative</th>
                        <th>Knowledge</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>DATA</td>
                        <td>CEO</td>
                        <td>DATA</td>
                        <td>DATA</td>
                        <td>DATA</td>
                        <td>DATA</td>
                    </tr>
                    <tr>
                        <td>DATA</td>
                        <td>CFO</td>
                        <td>DATA</td>
                        <td>DATA</td>
                        <td>DATA</td>
                        <td>DATA</td>
                    </tr>
                </tbody>
            </table>
        </div>
    {% endif %}
</div>
<script src="https://d3js.org/d3.v4.min.js"></script>
{% if corporation %}
    {% include 'corporations.html' %}
{% endif %}
<script type="text/javascript" src="../static/djia.js"></script>
<script type="text/javascript" src="../static/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../static/materialize.min.js"></script>
<script type="text/javascript" src="../static/index.js"></script>
<script>
    $(document).ready(function(){
        $(".button-collapse").sideNav();
        $('.parallax').parallax();
        $(".dropdown-button").dropdown({
                hover: false
        });
    });
    $(document).ready(function() {
        $('select').material_select();
    });
</script>
</body>
</html>